@media (max-width: 1600px) {
  .home {
    justify-content: center;
    gap: 35px;
    img {
      width: 34%;
    }
    .text-home {
      width: 45%;
      font-size: 19px;
      display: flex;
      flex-direction: column;
      gap: 17px;

      span {
        font-size: 25px;
      }
    }
    .cuida-papai {
      padding: 20px 170px;
    }
  }
  .treinamento {
    .lex-papa {
      width: 350px;
    }
    .lex-papa-cursos {
      p {
        font-size: 22px;
      }
    }
    p {
      font-size: 18px;
    }
    h2 {
      font-size: 37px;
    }
  }
  .missao {
    width: 100%;
    height: 100%;
    /* padding: 1%; */

    .missao-layout {
      width: 100%;
      justify-content: center;
      gap: 50px;
    }
    .infor-missao {
      max-width: 750px;
      width: 100%;
    }
    .img-missao {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 19px;
    }
  }
  .curso {
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 20px;
    }
    .chamada-acao {
      font-size: 25px;
      padding: 20px 180px;
    }
  }
  .grid-detalhes {
    display: flex;
    gap: 20px;
  }
  .doble-grid {
    display: flex;
    gap: 30px;
  }
  .detalhes {
    width: 250px;
    height: 350px;
    img {
      width: 190px;
    }
    p {
      font-size: 17px;
    }
  }
}
@media (max-width: 1024px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .text-home {
      width: 45%;
      font-size: 17px;
    }
    .cuida-papai {
      margin: 10px auto 0;
      padding: 20px 100px;
    }
  }
  .curso {
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 50px;
    .title-curso {
      width: 75%;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
    .chamada-acao {
      font-size: 22px;
      padding: 20px 100px;
    }
  }
  .doble-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .detalhes {
    width: 270px;
    height: 360px;
    img {
      width: 200px;
    }
    p {
      font-size: 16px;
    }
  }
  .missao {
    .missao-layout {
      width: 100%;
      justify-content: center;
      gap: 80px;
    }
    .infor-missao {
      width: 500px;
    }
    .img-missao {
      width: 250px;
      height: 250px;
      img {
        width: 100%;
      }
    }
    h2 {
      font-size: 34px;
    }
    p {
      font-size: 17px;
    }
  }
  .treinamento {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .detalhes {
      background-color: rgba(4, 17, 56, 0.986);
      width: 300px;
      height: 420px;
      padding: 12px;
      img {
        width: 190px;
      }
      p {
        font-size: 13px;
        margin: 4px;
      }
    }
    .chamada-acao {
      font-size: 25px;
      padding: 20px 100px;
    }
    h2 {
      font-size: 33px;
    }
    .defalt-curso {
      background-color: darkgrey;
    }
  }
  footer {
    h2 {
      font-size: 13px;
    }
    h3 {
      font-size: 13px;
    }
    .nord-dev {
      color: darkorange;
    }
  }
}
@media (max-width: 750px) {
  header {
  width: 100%;
  padding: 10px 40px;
  flex-direction: column;
  font-size: 12px;
  gap: 20px;

  img {
    width: 60px;
  }
  ul {
    font-family: "Oswald", sans-serif;
    font-size: 19px;
    display: flex;
    gap: 10px;
  }
  li{
    margin: 5px;
  }
}
  .home {
    margin: 0 auto 50px;
    width: 100%;
    height: 100%;
    flex-direction: column;

    img {
      margin-top: 150px;
      width: 60%;
    }
    .text-home {
      width: 90%;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      span {
        font-size: 19px;
      }
    }
  }
  .treinamento {
    .lex-papa {
      width: 250px;
    }
    .lex-papa-cursos {
      p {
        font-size: 20px;
      }
    }
    p {
      font-size: 15px;
      text-align: center;
    }
    h2 {
      font-size: 28px;
      margin: 5px;
    }
  }
  .missao {
    .missao-layout {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 19px 0;
    }
    .infor-missao {
      max-width: 100%;
      margin: 10px;
    }
    .img-missao {
      width: 250px;
      height: 250px;
      img {
        width: 100%;
      }
    }
    h2 {
      font-size: 30px;
      text-align: center;
      margin: 10px;
    }
    p {
      font-size: 15px;
    }
  }
  .curso {
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 50px;
    .title-curso {
      width: 100%;
      max-width: 900px;
      gap: 30px;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
    .chamada-acao {
      font-size: 18px;
      background-color: rgb(255, 255, 255);
      font-weight: 700;
      margin: 30px auto 0;
      text-align: center;
      border-radius: 15px;
      padding: 10px 25px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      transition: 0.5s ease-in-out;
    }
  }
  .grid-detalhes {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .doble-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .detalhes {
    background-color: rgba(4, 17, 56, 0.986);
    margin: 0 auto;
    width: 85%;
    height: 250px;
    padding: 7px;
    img {
      width: 150px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  footer {
    text-align: center;
    padding: 40px;
    flex-direction: column;
    gap: 50px;
    h2 {
      font-size: 12px;
    }
    h3 {
      font-size: 12px;
    }
    .nord-dev {
      color: darkorange;
    }
    i {
      color: aliceblue;
      font-size: 40px;
      margin: 0px 5px;
    }
  }
}
