@media (max-width: 1440px) {
  .home {
    justify-content: center;
    gap: 35px;
    img {
      width: 34%;
    }
    .text-home {
      width: 45%;
      font-size: 19px;
      display: flex;
      flex-direction: column;
      gap: 17px;

      span {
        font-size: 25px;
      }
    }
    .cuida-papai {
      padding: 20px 170px;
    }
  }
  .curso {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .title-curso {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 22px;
    font-family: "Michroma", sans-serif;
    text-align: center;
  }
  p {
    font-family: "Michroma", sans-serif;
    font-size: 20px;
    text-align: center;
  }
}
.grid-detalhes {
  display: flex;
  gap: 20px;
}
.doble-grid{
  display: flex;
  gap: 30px;
}
.detalhes {
  width: 250px;
  height: 350px;
  padding: 7px;
  border-radius: 35px;
  font-family: "Zen Dots", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  img {
    width: 190px;
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
  }
}
}
@media (max-width: 1024px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .text-home {
      width: 45%;
      font-size: 17px;
    }
    .cuida-papai {
      margin: 10px auto 0;
      padding: 20px 100px;
    }
  }
  .curso {
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 50px;
    .title-curso {
      width: 75%;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .doble-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .detalhes {
    width: 270px;
    height: 360px;
    img {
      width: 200px;
    }
    p {
      font-size: 16px;
    }
  }
  .missao {
    .missao-layout {
      width: 100%;
      justify-content: center;
      gap: 100px;
    }
    .infor-missao {
      width: 500px;
    }
    .img-missao {
      width: 250px;
      height: 250px;
      img {
        width: 100%;
      }
    }
    h2 {
      font-size: 34px;
    }
    p {
      font-size: 17px;
    }
  }
  .treinamento {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .detalhes {
      background-color: rgba(4, 17, 56, 0.986);
      width: 300px;
      height: 420px;
      padding: 12px;
      img {
        width: 190px;
      }
      p {
        font-size: 13px;
        margin: 4px;
      }
    }
    .chamada-acao {
      font-size: 25px;
      padding: 20px 100px;
    }
    h2 {
      font-size: 33px;
    }
    .defalt-curso {
      background-color: darkgrey;
    }
  }
  footer {
    h2 {
      font-size: 13px;
    }
    h3 {
      font-size: 13px;
    }
    .nord-dev {
      color: darkorange;
    }
  }
}
@media (max-width: 750px) {
  .home {
    margin: 0 auto 0;
    width: 100%;
    height: 100%;
    flex-direction: column;

    img {
      margin-top: 110px;
      width: 60%;
    }
    .text-home {
      width: 90%;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      span {
        font-size: 19px;
      }
    }
    .cuida-papai {
      font-size: 17px;
      padding: 17px 70px;
      margin-bottom: 80px;
    }
  }
  .curso {
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 50px;
    .title-curso {
      width: 100%;
      max-width: 900px;
      gap: 30px;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  .grid-detalhes {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .doble-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .detalhes {
    background-color: rgba(4, 17, 56, 0.986);
    margin: 0 auto;
    width: 85%;
    height: 250px;
    padding: 7px;
    img {
      width: 150px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
