@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oswald:wght@200..700&family=Teko:wght@300..700&family=Zen+Dots&display=swap');
/* font-family: "Roboto", sans-serif; */
/* font-family: "Zen Dots", sans-serif; */
/* font-family: "Michroma", sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}